## project stuff
/versions.json

## gradle
/.gradle
/gradle
/gradlew
/gradlew.bat

## ForgeGradle
/run

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
/build/tmp
/build/resources
/build/classes
/build/sources
/saves


## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml